<div class="container">
  <div class="row">
    <div class="col-12">
      <label for="filteredStatus">Status Filter:</label>
      <input
        type="text"
        id="filteredStatus"
        class="form-control mb-3"
        [(ngModel)]="filteredStatus">
      <button
        class="btn btn-primary mb-3"
      (click)="onAddServer()">Add Server</button>
      <br>
      <br>
      <h4>App status: {{ appStatus | async }}</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten:7 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date:'fullDate' | uppercase }}
          <span class="badge badge-secondary float-right">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
