<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a
    class="navbar-brand"
    style="cursor: pointer"
    routerLink="/"
    routerLinkActive="active">Recipe book</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/recipes"
          routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/shopping-list"
          routerLinkActive="active">Shopping List</a></li>
    </ul>
    <div class="navbar-nav">
      <li
        class="nav-item dropdown"
        appDropdown>
        <a
          id="navbarDropdownMenuLink"
          class="nav-link dropdown-toggle"
          style="cursor: pointer"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="isOpen = !isOpen">
          Manage
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          *appDropdownHard="isOpen">
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onSaveData()">Save Data</a>
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onFetchData()">Fetch Data</a>
        </div>
      </li>
    </div>
  </div>
</nav>
